In [2]:
import pandas as pd

In [26]:
train_df = pd.read_csv('./dataset/train_set.csv', sep='\t')

In [27]:
len(train_df)

200000

In [28]:
train_df.head()

   label                                               text
0      2  2967 6758 339 2021 1854 3731 4109 3792 4149 15...
1     11  4464 486 6352 5619 2465 4802 1452 3137 5778 54...
2      3  7346 4068 5074 3747 5681 6093 1777 2226 7354 6...
3      2  7159 948 4866 2109 5520 2490 211 3956 5520 549...
4      3  3646 3055 3055 2490 4659 6065 3370 5814 2465 5...

In [34]:
'3750' in set(list(train_df.iloc[0]['text'].split(' ')))

True

In [37]:
# 字符900，字符648同理，参见评论区

from collections import Counter
train_df['3750'] = train_df['text'].apply(lambda x: list(x.split(' ')).count('3750'))

In [38]:
train_df['3750'].sum()

7482224

In [40]:
all_lines = ' '.join(train_df['text'])
total_cnt = Counter(all_lines.split(' '))
total_cnt = sorted(total_cnt.items(), key=lambda d: d[1], reverse=True)
total_cnt[: 10]

[('3750', 7482224),
 ('648', 4924890),
 ('900', 3262544),
 ('3370', 2020958),
 ('6122', 1602363),
 ('4464', 1544962),
 ('7399', 1455864),
 ('4939', 1387951),
 ('3659', 1251253),
 ('4811', 1159401)]

In [41]:
total_cnt[: 20]

[('3750', 7482224),
 ('648', 4924890),
 ('900', 3262544),
 ('3370', 2020958),
 ('6122', 1602363),
 ('4464', 1544962),
 ('7399', 1455864),
 ('4939', 1387951),
 ('3659', 1251253),
 ('4811', 1159401),
 ('5598', 1121908),
 ('2465', 1087011),
 ('669', 1086645),
 ('2400', 1031116),
 ('5560', 1020573),
 ('299', 927955),
 ('2109', 921676),
 ('4893', 917183),
 ('4411', 884362),
 ('1699', 853028)]

In [42]:
class_group =  train_df.groupby(train_df['label'])

In [43]:
class_group.size()

label
0     38918
1     36945
2     31425
3     22133
4     15016
5     12232
6      9985
7      8841
8      7847
9      5878
10     4920
11     3131
12     1821
13      908
dtype: int64

In [51]:
unique_cnt = dict()

for label, news in class_group:
    all_lines = ' '.join(news['text'])
    class_cnt = Counter(all_lines.split(' '))
    class_cnt = sorted(class_cnt.items(), key=lambda d: d[1], reverse=True)
    unique_cnt[label] = class_cnt[: 50]

In [53]:
unique_cnt[0][: 20]

[('3750', 1267331),
 ('648', 967653),
 ('900', 577742),
 ('3370', 503768),
 ('4464', 307431),
 ('2465', 296582),
 ('6122', 272185),
 ('3659', 261338),
 ('7399', 260317),
 ('4939', 239933),
 ('4559', 209894),
 ('5598', 209822),
 ('4811', 209401),
 ('5560', 198372),
 ('6065', 184729),
 ('1699', 179173),
 ('2400', 177036),
 ('465', 171803),
 ('669', 170970),
 ('5430', 170816)]

In [56]:
top_20_in_all = []
for i in range(20):
    top_20_in_all.append(total_cnt[i][0])
top_20_in_all

['3750',
 '648',
 '900',
 '3370',
 '6122',
 '4464',
 '7399',
 '4939',
 '3659',
 '4811',
 '5598',
 '2465',
 '669',
 '2400',
 '5560',
 '299',
 '2109',
 '4893',
 '4411',
 '1699']

In [58]:
top_20_unique = dict()

for i in range(14):
    cur_top_20 = []
    cur_cnt = unique_cnt[i]
    j = 0
    while j < len(cur_cnt) and len(cur_top_20) < 20:
        if cur_cnt[j][0] not in top_20_in_all:
            cur_top_20.append(cur_cnt[j])
        j += 1
    top_20_unique[i] = cur_top_20

In [59]:
for k, v in top_20_unique.items():
    print(k, v)

0 [('4559', 209894), ('6065', 184729), ('465', 171803), ('5430', 170816), ('1324', 165602), ('5393', 143748), ('803', 142839), ('1635', 142673), ('3961', 139635), ('5998', 133438), ('2799', 129401), ('5602', 128884), ('1519', 127090), ('5948', 124749), ('340', 124262), ('3700', 122648), ('5445', 122285), ('4646', 121638), ('1407', 121256), ('1633', 120536)]
1 [('5036', 321769), ('6250', 275931), ('1633', 248565), ('6065', 224978), ('6357', 219363), ('1324', 203959), ('1519', 193461), ('151', 182572), ('2210', 182230), ('4646', 176391), ('2539', 174323), ('2799', 174149), ('3700', 173603), ('7186', 171163), ('3961', 170100), ('5602', 168772), ('2106', 161212), ('4853', 150898), ('4149', 150373), ('2859', 146934)]
2 [('4704', 305488), ('1667', 301478), ('1099', 243205), ('1465', 222023), ('2614', 192710), ('4269', 191132), ('5998', 188724), ('1985', 169356), ('5977', 164262), ('7543', 155838), ('1903', 152918), ('3743', 151499), ('4659', 146045), ('5445', 145030), ('1460', 137007), ('2376', 136113), ('7194', 133750), ('803', 133290), ('1635', 132871), ('6644', 128949)]
3 [('803', 136564), ('1635', 136345), ('1985', 106144), ('7346', 91636), ('3747', 91614), ('5998', 82223), ('5445', 78289), ('1465', 78007), ('7349', 77889), ('1903', 77543), ('2376', 77154), ('3800', 75331), ('1519', 72319), ('7539', 70367), ('4659', 69328), ('4128', 61119), ('6017', 60574), ('4853', 60318), ('4967', 56957), ('5977', 56363)]
4 [('4853', 64847), ('340', 54434), ('3800', 53123), ('803', 50481), ('1635', 50345), ('2252', 47442), ('1519', 42206), ('1460', 41199), ('4721', 39347), ('3686', 39175), ('2210', 38848), ('1141', 37460), ('2986', 37326), ('5998', 36048), ('5858', 35785), ('5445', 33360), ('2073', 32697), ('2376', 32625), ('5948', 31823), ('7495', 31675)]
5 [('803', 96091), ('1635', 95982), ('4659', 85062), ('1465', 79771), ('5310', 72407), ('5445', 70745), ('5977', 70617), ('5620', 66442), ('1519', 61313), ('1903', 58468), ('913', 58242), ('6017', 56835), ('5998', 56771), ('2376', 54872), ('6045', 51696), ('4063', 48610), ('5028', 48489), ('7492', 48026), ('1334', 47898), ('6143', 47745)]
6 [('6248', 193757), ('2555', 175234), ('5620', 156918), ('307', 75451), ('5178', 67581), ('2119', 66215), ('1519', 65387), ('7543', 62174), ('3961', 57984), ('3915', 57417), ('3607', 55443), ('803', 55212), ('1635', 55104), ('1633', 54351), ('340', 52063), ('7539', 51609), ('1903', 50564), ('5445', 49733), ('5948', 48036), ('3560', 47135)]
7 [('5296', 132136), ('6835', 107336), ('3272', 65670), ('1519', 65414), ('6357', 63969), ('2539', 58800), ('2210', 57252), ('6250', 51448), ('1324', 51336), ('6065', 51294), ('6637', 50323), ('3961', 48174), ('2614', 46107), ('2106', 45201), ('2073', 42873), ('3374', 42773), ('4516', 42276), ('7186', 42009), ('151', 41994), ('5036', 41805)]
8 [('913', 55475), ('3961', 42116), ('3893', 38618), ('3374', 30942), ('1903', 29439), ('5998', 27475), ('1985', 25266), ('5948', 23721), ('4326', 23062), ('7194', 22579), ('340', 22497), ('1519', 22273), ('3686', 22258), ('3800', 21966), ('6017', 21818), ('803', 21762), ('1635', 21683), ('5393', 21614), ('3915', 20521), ('2614', 20281)]
9 [('7328', 46477), ('5547', 37559), ('3747', 31220), ('7346', 31173), ('913', 28693), ('4768', 26200), ('7539', 23038), ('5948', 21025), ('4559', 20715), ('1903', 20131), ('803', 19861), ('1635', 19783), ('2119', 19742), ('1018', 19706), ('7495', 19076), ('5445', 18887), ('1375', 18437), ('5998', 18066), ('3809', 17468), ('3800', 17286)]
10 [('3686', 42023), ('3523', 39430), ('6357', 23561), ('3374', 22418), ('3961', 22347), ('486', 22091), ('4167', 21379), ('1519', 21169), ('6637', 20907), ('7305', 20112), ('1324', 20109), ('5948', 19787), ('5176', 19398), ('151', 19320), ('6065', 19057), ('6352', 18918), ('2252', 18800), ('7495', 17923), ('1903', 17923), ('1985', 17312)]
11 [('7539', 11920), ('5445', 11243), ('1375', 8864), ('2112', 8656), ('5948', 8532), ('5530', 7693), ('5998', 7578), ('4261', 7479), ('2827', 7427), ('5393', 7280), ('3915', 7269), ('3800', 7096), ('5620', 6966), ('340', 6932), ('5430', 6671), ('6017', 6502), ('1394', 6304), ('5510', 6271), ('3223', 6237), ('1903', 6222)]
12 [('6065', 30510), ('1667', 22272), ('2614', 21588), ('5006', 16955), ('5602', 16625), ('1099', 16594), ('1324', 16252), ('6831', 15659), ('486', 14657), ('2334', 14560), ('2218', 14534), ('4704', 14300), ('6250', 13829), ('3272', 13594), ('4646', 13089), ('7539', 12645), ('3700', 12434), ('2376', 11978), ('2799', 11519), ('4430', 10972)]
13 [('3864', 6241), ('1465', 5684), ('3800', 5525), ('3070', 4816), ('6040', 4725), ('1985', 4502), ('7539', 4235), ('3870', 4177), ('7194', 4126), ('6038', 3784), ('1903', 3601), ('5445', 3590), ('1460', 3585), ('5165', 3540), ('1999', 3410), ('1394', 3377), ('3915', 3350), ('5998', 3203), ('531', 3048), ('5393', 2975)]